body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  #carrito {
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  #articulos-en-carrito {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #articulos-en-carrito li {
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
  }
  
  #subtotal {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 20px;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: center;
  }
  
  .product h2 {
    margin-bottom: 10px;
    color: #333;
  }
  
  .product-img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .product p {
    margin-bottom: 10px;
    color: #333;
  }
  
  .agregar-al-carrito {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .agregar-al-carrito:hover {
    background-color: #3e8e41;
  }